.login
  .title
    .title-content
      .title__name 
        %h1 ToDoUp
      .title__content
        %h2 ゲーム感覚でタスク管理をしてみよう！！
        %h3 今日のあなたにいいことがありますように
  .login-form
    .login-form__top
      %h2 Log in
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          = f.label :email,class: "field-label"
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .field
          = f.label :password,class: "field-label"
          %br/
          = f.password_field :password, autocomplete: "current-password"
        - if devise_mapping.rememberable?
          .field
            = f.check_box :remember_me
            = f.label :remember_me,class: "field-label"
        .actions
          = f.submit "Log in",class: "field-btn"
      = render "devise/shared/links"
